<a href="https://colab.research.google.com/github/ybou33/bloc2/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conversion d'un nombre en base 2 avec la fonction bin()**

In [0]:
nombre=21
bin(nombre)

*Python interprète les nombres commençant par 0b comme des nombres binaires*

In [0]:
a=0b1100
print(a)

**Conversion d'un nombre en base 16 avec la fonction hex()**

In [0]:
a=31
nombre=hex(a)
print(nombre)

In [0]:
a=0x1F
print(a)

*Expliquez le résultat de l'opération ci-dessous*

In [0]:
a=0x1f+0b1100
print(a)

**Convertisseur en base 2 et 16**

In [0]:
nombre=int(input("entier en base 10 : "))
print("en base 2 : "+ str(bin(nombre))[2:])
print("en base 16 : "+ str(hex(nombre))[2:])

*Tester la fonction ci-dessous puis expliquez.*

In [0]:
def binaire(n):
           q=n
           bin=''
           while q!=0:
                      r=q%2
                      q=q//2
                      bin=str(r)+bin
           return bin

In [0]:
a=124
nombre=binaire(a)
print(nombre)